/*  
 @tailwind base;
@tailwind components;
@tailwind utilities;

 
 
 
 
 
@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 3s ease infinite;
    background-size: 200% 200%;
  }
  
  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
} */